* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom right, skyblue, purple);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.alert-error {
  background-color: rgb(248, 104, 104);
  color: white
}